/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

header {
    margin: 50px;
    text-align: center;
}

nav div {
    height: 80px;
    width: 220px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px 0 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
nav .plan {
    background-color: #FF764E;
}

nav .learn {
    background-color: #5ED3EB;
}

nav .involved {
    background-color: #FFCD69;
}

h1 {
    font-size: 6rem;
    font-family: 'Chelsea Market', cursive;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
}

.yosemite {
    margin: 50px;
    height: 350px;
    text-align: justify;
}

.yosemite .header-img {
    display: inline-block;
    width: 25%;
}

.yosemite .header-img img{
    border-radius: 50%;
}

.yosemite .yosemite-opener {
    text-align: center;
    display: inline-block;
    width: 60%;
    margin: 0 75px;
}

.yosemite-opener p {
    width: 50%;
    font-size: 1.7rem;
    padding: 10px;
    margin: 0 auto;
}
.yosemite-about {
    color: white;
    background-color: #DDB9A3;
    text-align: center;
    font-size: 20px;
    margin: 40px;
    padding: 10px 20px;
    height: 190px;
}

span {
    font-weight: 700;
}

.yosemite-body {
    text-align: center;
}

.yosemite-body .fire-info, .camper-info {
    width: 20%;
    margin: 0 auto;
    padding-bottom: 30px;

}

.yosemite-body img {
    width: 250px;
}

.yosemite-about div p {
    padding-bottom: 20px;
}

footer img{
    height: 300px;
    width: 100%;
}

footer {
    background-color: #F9E7DC;
    text-align: center;
}